@import './colors.scss';

.button {
  padding: 10px 40px;
  background: $primary;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0.1px rgba(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
<<<<<<< HEAD
  color: #000;
}
=======
  color: #333;
  margin-top: 10px;
}

.button--clear {
  padding: 10px 40px;
  background: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
>>>>>>> 6730e7c60fd8cb274477012e158bc943e36ede8b
