$primary: #95ca3e;
$secondary: #002b53;
$tertiary: #003566;
$clear-text: #4778a5;
$light: #fff;
$dark: #000;

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'light': $light,
  'dark': $dark,
);

@each $colorName, $colorValue in $colors {
  .#{$colorName}--bg {
    background: $colorValue;
  }

  .#{$colorName}--text {
    color: $colorValue;
  }
}
