$primary: #95CA3E;
$secondary: #002B53;
$tertiary: #003566;
$clear-text: #4778a5;

$colors: ("primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
);

@each $colorName,
$colorValue in $colors {
  .#{$colorName}--bg {
    background: $colorValue;
  }

  .#{$colorName}--text {
    color: $colorValue;
  }
}