@import './components/colors.scss';

@import './components/button.scss';
@import './components/card.scss';
@import './components/input.scss';
@import './components/fab.scss';
@import './components/table.scss';


@font-face {
  font-family: Lato;
  src: url('../fonts/Lato.ttf')
}

html {
  font-family: Lato;
}

.container-ui {
  margin: 0 15% !important;
  padding-top: 2%;
}

@media (max-width: 900px) {

  .container-ui {
    margin: 0 5% !important;
    padding-top: 5%;
  }

}

.text-center {
  text-align: center;
}

.page {
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: white
}


.inline-block {
  display: inline-block !important;
}

.padding-1 {
  padding: 1rem
}